<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dongduk.cs.moaread.dao.mybatis.mapper.BookMapper">

    <insert id="insertBook">
        INSERT INTO BOOK (ISBN, TITLE, AUTHOR, PUBLISHER, PUBLISH_DATE, DESCRIPTION, PRICE, IMAGE)
        VALUES (#{isbn}, #{title}, #{author}, #{publisher}, #{publishDate}, #{description}, #{price}, #{image})
    </insert>

    <select id="findByIsbn" resultType="dongduk.cs.moaread.domain.Book">
        SELECT * FROM BOOK WHERE ISBN = #{isbn}
    </select>

    <select id="searchBooksByKeyword" resultType="dongduk.cs.moaread.domain.Book">
        SELECT * FROM BOOK
        WHERE TITLE LIKE CONCAT('%', #{keyword}, '%')
           OR AUTHOR LIKE CONCAT('%', #{keyword}, '%')
           OR PUBLISHER LIKE CONCAT('%', #{keyword}, '%')
           OR DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="findTopLikedBooks" resultType="dongduk.cs.moaread.domain.Book">
        SELECT b.*, COUNT(l.BOOK_ISBN) AS like_count
        FROM BOOK b
                 LEFT JOIN LIKES l ON b.ISBN = l.BOOK_ISBN
        GROUP BY b.ISBN, b.TITLE, b.AUTHOR, b.PUBLISHER, b.PUBLISH_DATE, b.DESCRIPTION, b.PRICE, b.IMAGE
        ORDER BY like_count DESC
            FETCH FIRST #{limit} ROWS ONLY
    </select>

    <select id="findBooksLikedByUser" resultType="dongduk.cs.moaread.domain.Book">
        SELECT b.*
        FROM BOOK b
                 JOIN LIKES l ON b.ISBN = l.BOOK_ISBN
        WHERE l.USER_ID = #{userId}
    </select>

    <select id="findBooksLikedBySimilarUsers" resultType="dongduk.cs.moaread.domain.Book">
        SELECT DISTINCT b.*
        FROM BOOK b
                 JOIN LIKES l1 ON b.ISBN = l1.BOOK_ISBN
                 JOIN LIKES l2 ON l1.USER_ID = l2.USER_ID
        WHERE l2.BOOK_ISBN IN (SELECT BOOK_ISBN FROM LIKES WHERE USER_ID = #{userId})
          AND l1.USER_ID != #{userId}
    </select>

</mapper>
