<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모아읽다 블로그</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col-3 bg-light p-1">
            <div class="card text-start bg-light">
                <div class="card-body">
                    <h5 class="card-title" th:text="${blogResDto.getBlog().getName()}"></h5>
                    <p class="cart-text" th:text="${blogResDto.getBlog().getDescription()}"></p>
                    <div class="row p-1">
                        <a th:if="${!isLoggedIn || !isOwner && !isSubscribed}" th:href="'subscribe/' + ${blogResDto.getBlog().getUserId()}" class="btn btn-primary">구독</a>
                        <a th:if="${isLoggedIn && !isOwner && isSubscribed}" th:href="'unsubscribe/' + ${blogResDto.getBlog().getUserId()}" class="btn btn-primary">구독 취소</a>
                        <a th:if="${isLoggedIn && isOwner && !isSubscribed}" th:href="@{/post/create}" class="btn btn-primary">서평 쓰기</a>
                    </div>
                    <div th:if="${isLoggedIn && isOwner && !isSubscribed}" class="row p-1">
                        <a th:href="@{/blog/update}" class="btn btn-primary">블로그 편집</a>
                    </div>
                    <div th:if="${isLoggedIn && isOwner && !isSubscribed}" class="row p-1">
                        <a th:href="@{/category}" class="btn btn-primary">카테고리 편집</a>
                    </div>
                </div>
            </div>
            <div>
                <nav class="nav flex-column">
                    <a th:each="category : ${blogResDto.getCategoryList()}" th:href="@{'/category/' + ${category.getId()}}" th:text="${category.getName()}" class="nav-link"></a>
                </nav>
            </div>
        </div>
        <div class="col-8">
            <div th:if="${blogResDto.getPostList() == null || #lists.isEmpty(blogResDto.getPostList())}">아직 작성된 서평이 없습니다.</div>
            <div th:if="${blogResDto.getPostList() != null && !#lists.isEmpty(blogResDto.getPostList())}" th:each="post : ${blogResDto.getPostList()}" class="list-group p-1">
                <a th:href="'/post/detail/' + ${post.getId()}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 th:text="${post.getTitle()}" class="mb-1"></h5>
                    </div>
                    <p th:text="${post.getCategoryId()}" class="mb-1"></p>
                </a>
            </div>
            <div class="p-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li th:classappend="${pageNum == 1} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/blog/${blogResDto.getBlog().getUserId()}/${categoryId}(pageNum=${pageNum - 1}, pageSize=${pageSize})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPage)}" th:classappend="${pageNum == page} ? 'active' : ''">
                            <a class="page-link" th:href="@{/blog/${blogResDto.getBlog().getUserId()}/${categoryId}(pageNum=${page}, pageSize=${pageSize})}" th:text="${page}"></a>
                        </li>
                        <li th:classappend="${pageNum == totalPage} ? 'disabled' : ''" class="page-item">
                            <a class="page-link" th:href="@{/blog/${blogResDto.getBlog().getUserId()}/${categoryId}(pageNum=${pageNum + 1}, pageSize=${pageSize})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>